accelerate==1.0.1
annotated-types==0.7.0
anyio==4.6.2.post1
APScheduler==3.10.4
background==0.2.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
civitai==1.0.0
civitai-py==0.1.10
click==8.1.7
exceptiongroup==1.2.2
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
fsspec==2024.9.0
git-filter-repo==2.45.0
h11==0.14.0
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.25.2
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mpmath==1.3.0
mypy==1.12.0
mypy-extensions==1.0.0
networkx==3.4.1
numpy==1.26.4
packaging==24.1
pillow==11.0.0
pluggy==1.5.0
psutil==6.0.0
pydantic==2.9.2
pydantic_core==2.23.4
pytest==8.3.3
python-dotenv==1.0.1
pytorch-triton-rocm @ file:///home/lorevi/workspace/github.com/LoreviQ/EchoesAI/.venv/pytorch_triton_rocm-2.1.0%2Brocm6.1.3.4d510c3a44-cp310-cp310-linux_x86_64.whl#sha256=34ee585edf922a163b3ae6dbb90b291317947b7c8b47c045db058d92ec79e2b0
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
scheduler==0.8.7
six==1.16.0
sniffio==1.3.1
sympy==1.13.3
tokenizers==0.20.1
tomli==2.0.2
torch @ file:///home/lorevi/workspace/github.com/LoreviQ/EchoesAI/.venv/torch-2.1.2%2Brocm6.1.3-cp310-cp310-linux_x86_64.whl#sha256=2cb85d429ce2108ba4b060297947ab09f86fac8c09468730d6db02a9221dc69e
torchvision @ file:///home/lorevi/workspace/github.com/LoreviQ/EchoesAI/.venv/torchvision-0.16.1%2Brocm6.1.3-cp310-cp310-linux_x86_64.whl#sha256=8949a908176563c7e310bcacbaba1fe2d6751a701051a85be976ca557ab435be
tqdm==4.66.5
transformers==4.45.2
typeguard==4.3.0
types-requests==2.32.0.20241016
typing_extensions==4.12.2
tzlocal==5.2
urllib3==2.2.3
Werkzeug==3.0.4
